body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:120px;
  width:1280px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:340px;
  top:330px;
  width:680px;
  height:370px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:370px;
}
#u3 {
  position:absolute;
  left:2px;
  top:148px;
  width:676px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:850px;
  top:720px;
  width:170px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:30px;
  width:131px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:45px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
