body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:90px;
  width:1280px;
  height:720px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:720px;
}
#u1 {
  position:absolute;
  left:2px;
  top:352px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:25px;
  width:225px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:45px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:300px;
  top:230px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:870px;
  width:30px;
  height:30px;
  opacity:0.699999988079071;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:865px;
  width:881px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:40px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:300px;
  top:240px;
  width:200px;
  height:200px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
